Hello {{ .user.Name }}, you are viewing this mail because you(or someone else) has requested to reset the password of your account.
Click on the following link to continue or paste it into your browser to continue: {{.link}} 

If you didn't request this, please ignore this email and your passsword will remain unchanged.